Button {
  justify-self: center;
}

form {
  padding: 20px 0;
}

[class^=MuiInput] {
  margin: 20px 10px;
}

.submit-button {
  width: 100%;
  text-align: center;
}

h2 {
  padding-bottom: 0;
}

button {
  width: 100px;
}
