.input-items {
  display: grid;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  @media only screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media only screen and (max-width: 960px) and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  grid-template-columns: 1fr 1fr 1fr;
}

Button {
  justify-self: center;
}

form {
  padding: 20px 0;
}

[class^=MuiInput] {
  margin: 20px 10px;
}

.submit-button {
  width: 100%;
  text-align: center;
}

h2 {
  padding-bottom: 0;
}

button {
  width: 100px;
}
